# Системные файлы Windows
NTUSER.DAT*
ntuser.*
*.regtrans-ms
*.blf
*.log
*.tmp
*.temp
*.etl
*.evtx
*.evt
*.chk
*.old
*.bak
*.sav
*.pid
*.ilk
*.pdb

# Файлы пользователя
.bash_history
.viminfo
.zshrc
.lesshst
.lim/
.limpc/
.ssh/
.android/
.cache/
.idlerc/
.jdks/
.wdc/
AppData/
Contacts/
Desktop/
Documents/
Favorites/
Links/
Music/
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/
battery-report.html
dev/
ntuser.ini
PaceKeyChain

# Другие проекты
IdeaProjects/
PycharmProjects/YaPracticum/
PycharmProjects/projectzero/
PycharmProjects/pythonProject/
PycharmProjects/qa_python3/
PycharmProjects/qa_python_1/
PycharmProjects/qa_python_2/
PycharmProjects/qa_python_tasks-main/
Sprint_4/



# IDE (PyCharm)
.idea/
*.iml
*.ipr
*.iws
.idea/vcs.xml
.idea/workspace.xml
.idea/*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Временные файлы
*.swp
*.swo
*~